<h1>Harvests</h1>

<% for harvest in @user.harvests %>
  <a href="/harvests/<%= harvest.id %>">
    <ul>
      <h3>Sources</h3>
      <ul>
        <% for source in harvest.sources %>
          <li><%= source.name %></li>
        <% end %>
      </ul>
      
      <h3>Total Received</h3>
      <ul>
        <li><%= harvest.total_time_received %></li>
        <li>$<%= "%.2f" % harvest.total_money_received %></li>
        <% for item, quantity in harvest.all_received_items %>
          <li><%= item.item %> (x<%= quantity %>)</li>
        <% end %>
      </ul>

      <% if harvest.completed %>
        <h3>Completed</h3>
        <ul>
          <li><%= harvest.time_to_completion %></li>
        </ul>
      <% end %>
    </ul>
  </a>
<% end %>
