<h3>Are you sure you want to delete this target?</h3>

<h2><%= @target.name %></h2>
<h3>Time Sown: <%= @target.time_sown %></h3>
<h3>Time Yet to Sow: <%= @target.time_to_sow %></h3>
<h3>Money Sown: $<%= "%.2f" % @target.money_sown %></h3>
<h3>Money Yet to Sow: $<%= "%.2f" % @target.money_to_sow %></h3>

<form action="/targets/<%= @target.id %>" method="POST">
  <input type="hidden" name="_method" id="hidden" value="DELETE">

  <button type="submit" id="submit">Delete</button>

  <a href="/targets/<%= @target.id %>"><button type="button">Cancel</button></a>

</form>
