<h1 id="main-heading">Sources</h1>
<% for source in @user.sources %>
  <h2 class="subheading"><a href="/sources/<%= source.id %>"><%= source.name %></a></h2>
  <br>
  <h3>Time Received: <%= source.time_received %></h3>
  <br>
  <h3>Money Received: $<%= "%.2f" % source.money_received %></h3>

  <div class="button">
    <a href="/sources/<%= source.id %>"><button type="button">View Source</button></a>
  </div>
<% end %>

<div class="button">
  <a href="/sources/new"><button type="button">New Source</button></a>
</div>