<h1 id="main-heading">Edit Item to Sow</h1>

<form action="/to_sow_items/<%= @to_sow_item.id %>" method="POST">
  <input type="hidden" name="_method" id="hidden" value="PATCH">

  <div class="form-labels">
    <label for="item"><h2>Item</h2></label>
  </div>

  <div class="form-fields">
    <input type="text" name="item" id="item" value="<%= @to_sow_item.item %>" required>
  </div>

  <div class="clearfix"></div>

  <h3 class="subheading">Received from:</h3>
  <% for target in @user.targets %>
    <div>
      <label for="target"><%= target.name %></label>
    </div>
    <div>
      <input type="radio" name="target" id="target" value="<%= target.id %>" <%= 'checked' if @to_sow_item.target == target %> required>
    </div>
  <% end %>

  <div class="button">
    <a href="/targets/new"><button type="button">New Target</button></a>
  </div>

  <div class="button">
    <button type="submit" id="submit">Submit</button>
  </div>

</form>
