<h1 id="main-heading"><%= @target.name %></h1>

<h2 class="subheading">Seeds Into</h2>
<% for desire in @desires %>
  <h3><a href="/desires/<%= desire.id %>"><%= desire.name %></a></h3>
<% end %>
<h2 class="subheading">Via</h2>
<% for bible_reference in @bible_references %>
  <h3><a href="/bible_references/<%= bible_reference.id %>"><%= bible_reference.reference %></a></h3>
<% end %>

<h2 class="subheading">Look for Harvests From</h2>
<% for source in @sources %>
  <h3><a href="/<%= source.id %>"><%= source.name %></a></h3>
<% end %>

<div class="button">
  <a href="/targets/<%= @target.id %>/edit"><button type="button">Edit Target</button></a>
</div>

<div class="button">
  <a href="/targets/<%= @target.id %>/delete"><button type="button">Delete Target</button></a>
</div>
